<div class="page">
    <div class="box">
        <form> 
            <div class="form-group">
                
                    <label for="username">Username : </label>
                    <input id="username" type="email" class="form-control" placeholder="xyz@mail.com">
            </div>
            <div class="form-group">
                <label for="password"for>Password : </label>
                <input id="password" type="password" class="form-control">
            </div>
            <button class="btn btn-primary" routerLink="/inventory-page">Log-In</button>
        </form>
        <back></back>
    </div>
</div>
